.gallery{
	width: 100%;
	max-width: 900px;
	/* height: 600px; */
	margin: 2em auto;
	display: flex;
  	padding: 5px;
	flex-wrap: wrap;
	/* justify-content: center;
	align-items:center; */
    /* background: red; */
    position: relative;
   
}

.bujo img{
	height: 200px;
    max-width: 300px;
	cursor: pointer;
    position: relative;
    border: 2px solid snow;
    -ms-flex-item-align: center;
}

.bujo img:hover {
  transform: scale(1.08);
  transition: transform  450ms;
}
.bimg{
    position: relative;
    overflow: hidden;
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 12;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.modalContent {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImg {
  max-height: 70vh;
  max-width: 80%;;
}

.close {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}

.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(.1);
  }
}
