.projects {
  position: relative;
  z-index: 2;
}

.he{
  font-size: 2em;
  padding-top: 1.2em;
  padding-bottom: .8em;
}

.cards{
  margin: 3em 0;
  justify-content: center;
  text-align: left;
}

.card{
  width: 230px;
  height: 300px;
  padding: 1.5em 1em 1.5em 1.5em;
  margin: 1em;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: var(--border);
  border-radius: var(--b-radius);
  overflow: hidden;
}

.card h2{
  font-size: 1.5em;
  text-shadow: var(--shadow);
}

.deets p{
  color: #ffffff;
  opacity: .75;
}

.icons{
  position: relative;
  float: right;
  gap: 7px;
  display: flex;
  padding: 5px 2px;
  transition: .3s ease-in-out;
}

.icons img:hover{
  filter: drop-shadow(0 0 1px #7879da);
  transform: scale(1.2);
}

/* project cards */

.pro .card:nth-child(1){
  background-image:var(--card-g), url('/imgs/template.png');
}
.pro .card:nth-child(2){
  background-image:var(--card-g), url('/imgs/volant.png');
}
.pro .card:nth-child(3){
  background-image:var(--card-g), url('/imgs/todo.png');
}
.pro .card:nth-child(4){
  background-image:var(--card-g), url('/imgs/login.png');
}

/* contribution cards */

.cont .card:nth-child(1){
  background-image:var(--card-g), url('/imgs/cj.png');
}
.cont .card:nth-child(2){
  background-image:var(--card-g), url('/imgs/noirnight.png');
}
.cont .card:nth-child(3){
  background-image:var(--card-g), url('/imgs/dreamcare.png');
}
.cont .card:nth-child(4){
  background-image:var(--card-g), url('/imgs/skinre.png');
}