.cards{
    margin: 3em 0;
    justify-content: center;
}

.card{
    width: 250px;
    height: 300px;
    padding: 1.5em 1em 1.5em 1.5em;
    margin: 1em;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: var(--border);
    border-radius: 1em;

    
}

.deets h3{
    text-shadow: var(--shadow);
}

.deets p{
    color: #ffffff;
    opacity: .75;
}

.icons img{
    float: right;
    height: 25px;
    padding: 5px 2px;
    transition: .2s ease-in;
}

.icons .ex-link{
    height: 23px;
}

.icons img:hover{
    filter: drop-shadow(0 0 1px #7879da);
    transform: scale(1.2);
}

/* project cards */

.pro .card:nth-child(1){
    background-image:var(--card-g), url('/images/pro/template.png');;
}
.pro .card:nth-child(2){
    background-image:var(--card-g), url('/images/pro/volant.png');;
}
.pro .card:nth-child(3){
    background-image:var(--card-g), url('/images/pro/fly.png');;
}
.pro .card:nth-child(4){
    background-image:var(--card-g), url('/images/pro/cat.png');;
}


/* contribution cards */

.cont .card:nth-child(1){
    background-image:var(--card-g), url('/images/cont/cj.png');;
}
.cont .card:nth-child(2){
    background-image:var(--card-g), url('/images/cont/noirnight.png');;
}
.cont .card:nth-child(3){
    background-image:var(--card-g), url('/images/cont/dreamcare.png');;
}
.cont .card:nth-child(4){
    background-image:var(--card-g), url('/images/cont/skinre.png');;
}


/* journam cards */

.bujo {
    
}