@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --bg: linear-gradient(#170944,#0d0c22,#030517);
    --filter: blur(5px) brightness(80%) saturate(150%);
    --box-color: #151635b3;
    --border: white;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    min-height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    background: #030517;
}

.fleex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#bg{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -99;
    background-image: var(--bg);
    /* transform: rotate(180deg); */
}

cell #c-7-7-1, #c-7-1-1, #c-7-5-1, #c-2-6-1, #c-3-5-1, #c-2-4-1, #c-3-6-1, #c-6-6-1 {
    display: none;
}

@media screen and (max-width: 700px) {
    #bg{height: 80vh;}
}
