@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --card-g: linear-gradient(125deg, #030517,#151635b7);
    --filter: blur(5px) brightness(80%) saturate(150%);
    --box-color: #151635b3;
    --border: 1px solid #ffffff;
    --shadow: 0 0 1px #7879da;
    --white: #ffffff;
    --purple: #7879da;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #030517;
}

.c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.i{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.g{
    display: grid;
    grid-template-columns: auto auto;
}

h1,h2,h3{
    font-weight: bold;
}

h1{font-size: 2.2em;}

h2{
    font-size: 1.8em;
    text-align: center;
}

h3{font-size: 1.4em;}

p{
    padding-top: 1em;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 1em;
}

.box{
    background: var(--box-color);
    backdrop-filter: var(--filter);
    border: var(--border);
    align-self: center;
    border-radius: 1em;
}

#bg{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -99;
    background: linear-gradient(#170944,#0d0c22,#030517);
    background: -webkit-linear-gradient(#170944,#0d0c22,#030517);
    pointer-events: auto;
}

cell #c-7-7-1, #c-7-1-1, #c-7-5-1, #c-2-6-1, #c-3-5-1, #c-2-4-1, #c-3-6-1, #c-6-6-1 {
    display: none;
}

@media screen and (max-width: 700px) {
    #bg{height: 80vh;}
}

@media screen and (min-width: 1500px)  {
    .g{grid-template-columns: auto auto auto auto;}
}

@media screen and (max-width: 670px)  {
    .g{grid-template-columns: auto;}
}
