@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --card-g: linear-gradient(125deg, #030517,#151635b7);
    --filter: blur(5px) brightness(80%) saturate(150%);
    --box-color: #151635b3;
    --border: 1px solid #ffffff;
    --shadow: 0 0 1px #7879da;
    --white: #ffffff;
    --purple: #7879da;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #030517;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.i{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.g{
    display: grid;
    grid-template-columns: auto auto;
}

h1,h2,h3{
    font-weight: bold;
}

h1{font-size: 3em;}

h2{
    font-size: 2em;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: .8em;
}

h3{font-size: 1.4em;}

p{
    padding-top: 1em;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 1em;
}

.box{
    background: var(--box-color);
    backdrop-filter: var(--filter);
    border: var(--border);
    align-self: center;
    border-radius: 1em;
}


/* @media screen and (max-width: 700px){
} */

@media screen and (min-width: 1500px) {
    .g{grid-template-columns: auto auto auto auto;}
}

@media screen and (max-width: 670px){
    .g{grid-template-columns: auto;}
}
