@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --bg:#030517;
  --card-g: linear-gradient(125deg, #030517,#151635b7);
  --filter: blur(5px) brightness(80%) saturate(150%);
  --box-color: #151635b3;
  --border: 1px solid #ffffff;
  --shadow: 0 0 1px #7879da;
  --white: #ffffff;
  --purple: #7879da;
  --b-radius: .7em;
}

body{
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  color: var(--white);
  background: var(--bg);
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-align: center;
}

/* column */
.c{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* item */
.i{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*grid*/
.g{
  display: grid;
  grid-template-columns: auto auto;
}

/* typography */

h1,h2,h3{
  font-weight: bold;
}

h1{font-size: 3em;}

h2{
  font-size: 2em;
  padding-top: 1.2em;
  padding-bottom: .8em;
}

h3{font-size: 1.5em;}

p{
  padding-top: 1em;
  line-height: 28px;
  letter-spacing: .5px;
  font-size: 1em;
}

.box{
  width: fit-content;
  width: -moz-fit-content;
  background: var(--box-color);
  backdrop-filter: var(--filter);
  align-self: center;
  border-radius: .7rem;
}