main{
    position: relative;
    top: 20vh;
    /* pointer-events: none; */
    display: flex;
    flex-direction: column;
}

.box{
    width: fit-content;
    align-self: center;
    background: var(--box-color);
    backdrop-filter: var(--filter);
    padding: 0px 3em 1em 3em;
    margin: 20px;
    border-radius: 1em;
    z-index:-4;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23BABBF2FF' stroke-width='8' stroke-dasharray='21%2c 15%2c 15%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.name{
    font-size: 7em;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
	background: -webkit-linear-gradient(white, #5557dd);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        text-align: center;
}

.name:before{
	content:"Lily  Khan";
	text-shadow:  
		1px 1px #fff,2px 2px #fff,
		3px 3px #efefef,4px 4px #efefef,
		5px 5px #e6e6e6,6px 6px #e6e6e6,
		7px 7px #ddd,8px 8px #ddd,
		9px 9px #c9c9c9,10px 10px #c9c9c9;
	position: absolute;
	z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    position: relative;
    top: 10vh;
    background: var(--box-color);
    backdrop-filter: var(--filter);
    align-self: center;
    padding: 2em 3em;
    margin: 20px;
    border-radius: 1em;
    border: 1px solid #ffffff;
}
.about p{
    padding-top: 1.2em;
}

@media screen and (max-width: 700px) {
    .name{font-size: 5em;}
}

@media only screen and (min-width: 1400px) {
    .name{font-size: 10em;}
}