main{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    padding-top: 15vh;
}

.boox{
    padding: 0px 3em 1em 3em;
    z-index:-4;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23BABBF2FF' stroke-width='8' stroke-dasharray='21%2c 15%2c 15%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: none;
}

.name{
    font-size: 7em;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
	color: var(--purple);
    text-align: center;
	text-shadow:  
		1px 1px #fbf0ff,2px 2px #fbf0ff,
		3px 3px #f5e4ff,4px 4px #f5e4ff,
		5px 5px #f0dcfc,6px 6px #f0dcfc;
}

.about{
    padding: 2em;
    padding-left: 3em;
    margin: 7em 20px;
}

.about h1{font-size: 2.2em;}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials{width: 100%;}

.sm{margin: 2em;}

.sm img{
    height: 45px;
    padding-top: 7px;
    transition: .3s ease-in-out;
}

.icon{
    width: 97px;
    height: 92px;
    margin: 5px 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .3s ease-in-out;
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
}

.icon::after{
    content: "";
    width: 95px;
    height: 90px;
    position: absolute;
    z-index: -1;
    background: #030517;
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
}



.icon:hover{
    transform: translateY(-10px);
    /* background: var(--purple); */
}

.copyright{padding: 20px;}

@media screen and (max-width: 732px) {
    .boox{margin:0 1em; padding: 0px 2em .5em 2em;}
    .name{font-size: 5em;}
}

@media only screen and (min-width: 1400px) {
    .name{font-size: 10em;}
}