*{
    margin: 0;
    padding: 0;
}

body{
    background: #140746;
    /* color: gray; */
}

main{
    /* width: 100%;
    height: 100vh; */
    /* background: black; */
}





@supports (-webkit-text-stroke: 1px black) {
  .name {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

.name {
	font-size: 5em;
	padding: 20px;

	font-weight: 200;
	letter-spacing: 5px;
	  

    color: #fff;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,

    0 0 90px #000,
    0 0 100px #000;

}
