main{
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    top: 20vh;
    background: var(--box-color);
    z-index:-4;
    width: fit-content;
    backdrop-filter: var(--filter);
    align-self: center;
    padding: 0px 50px 10px 50px;
    margin: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='snow' stroke-width='8' stroke-dasharray='21%2c 15%2c 15%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 1em;
}


.name{
    position: relative;
    font-size: 10em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
	background: -webkit-linear-gradient(white, #5557dd);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        text-align: center;

}

.name:before{
	content:"Lily  Khan";
	text-shadow:  
		1px 1px #fff,2px 2px #fff,
		3px 3px #efefef,4px 4px #efefef,
		5px 5px #e6e6e6,6px 6px #e6e6e6,
		7px 7px #ddd,8px 8px #ddd,
		9px 9px #c9c9c9,10px 10px #c9c9c9;
	position: absolute;
	z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
}


