main{
    position: relative;
    top: 15vh;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}


.boox{
    padding: 0px 3em 1em 3em;
    z-index:-4;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23BABBF2FF' stroke-width='8' stroke-dasharray='21%2c 15%2c 15%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: none;
}

.name{
    font-size: 7em;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
	color: #7879da;
    text-align: center;
	text-shadow:  
		1px 1px #fbf0ff,2px 2px #fbf0ff,
		3px 3px #f5e4ff,4px 4px #f5e4ff,
		5px 5px #f0dcfc,6px 6px #f0dcfc;
}

.about{
    padding: 2em;
    padding-left: 3em;
    margin: 7em 0;
}

.projects {
    padding: 0 2em;
}

.cards{
    margin: 3em 0;
    margin-left: -1.2em;
}

.card{
    width: 250px;
    height: 300px;
    padding: 1.5em 1em 1.5em 1.5em;
    margin: 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card:nth-child(1){
    background-image:var(--card-g), url('https://avatars.githubusercontent.com/u/47777673?s=400&u=b787dfafbb4af3164549369e6a591e5c3e99bfde&v=4');;
}
.card:nth-child(2){
    background-image:var(--card-g), url('https://i.pinimg.com/564x/95/2b/73/952b730ba29e389e4b479fe3830075fa.jpg');;
}
.card:nth-child(3){
    background-image:var(--card-g), url('https://i.pinimg.com/236x/a4/4a/75/a44a7503aaef78336411bfa59b702c1a.jpg');;
}
.card:nth-child(4){
    background-image:var(--card-g), url('https://i.pinimg.com/564x/4b/fd/b8/4bfdb8291a6ccbeaf3c0a8c3ac8c1de8.jpg');;
}
.card:nth-child(5){
    background-image:var(--card-g), url('https://i.pinimg.com/564x/7f/2c/cf/7f2ccfa60ba8a3893cf3e84755f92ca3.jpg');;
} 



/* .icon{
    width: 100px;
    height: 100px;
    background: white;
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
}

.icon::after{
    content: "g";
    width: 90px;
    height: 90px;

    position: relative ;
    right: 1px; 
    top:1px;
    
    background: red;
    
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
} */



@media screen and (max-width: 732px) {
    .name{font-size: 5em;}
    .projects, .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{margin-left: 0;}
}

@media only screen and (min-width: 1400px) {
    .name{font-size: 10em;}
}