main{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 15vh;
}

.boox{
    padding: 0px 3em 1em 3em;
    z-index:-4;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23BABBF2FF' stroke-width='8' stroke-dasharray='21%2c 15%2c 15%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: none;
}

.name{
    font-size: 7em;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
	color: #7879da;
    text-align: center;
	text-shadow:  
		1px 1px #fbf0ff,2px 2px #fbf0ff,
		3px 3px #f5e4ff,4px 4px #f5e4ff,
		5px 5px #f0dcfc,6px 6px #f0dcfc;
}

.about{
    padding: 2em;
    padding-left: 3em;
    margin: 7em 0;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1{
    font-size: 3em;
}

.socials{
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* .icon{
    width: 100px;
    height: 100px;
    background: white;
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
}

.icon::after{
    content: "g";
    width: 90px;
    height: 90px;

    position: relative ;
    right: 1px; 
    top:1px;
    
    background: red;
    
    clip-path: polygon(93.30127018922194% 75%,93.30127018922194% 25.000000000000004%,50% 0%,6.698729810778062% 25.000000000000004%,6.698729810778062% 74.99999999999999%,49.99999999999994% 100%);
} */


@media screen and (max-width: 732px) {
    .name{font-size: 5em;}
}

@media only screen and (min-width: 1400px) {
    .name{font-size: 10em;}
}